MYSQL_ROOT_PASSWORD=replace_with_a_long_random_root_password
MYSQL_DATABASE=auto_tokyo
MYSQL_USER=auto_tokyo_app
MYSQL_PASSWORD=replace_with_a_long_random_database_password
DATABASE_NAME=auto_tokyo
DATABASE_USER=auto_tokyo_app
DATABASE_PASSWORD=replace_with_the_same_database_password
SESSION_SECRET=replace_with_at_least_32_random_characters
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=replace_with_a_base64_encoded_32_byte_key
